.popup__form-input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 358px;
  min-height: 27px;
  margin: auto;
  width: 100%;
  outline: none;
  font-size: 14px;
  padding: 0;
  padding-bottom: 13px;
}

@media (max-width: 680px) {
  .popup__form-input {
    max-width: 238px;
  }
}

.popup__form-input:nth-child(3) {
  margin-top: 30px;
}